*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
    caret-color: transparent;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
body{
    background-color: var(--base-bg);
}
input{
    outline: none;
}

textarea{
    outline: none;
    resize: none;
}

html{
    font-size: 120%;
}

/* 手机设备 */
@media (max-width: 600px) {
    html{
        font-size: 10%;
    }
}


@media screen and (max-width: 1180px) {
    html{
        font-size: 80%;
    }
}


/* 正常 *2550*1600 */
@media (min-width: 1180px) and (max-width: 1600px) {
    html{
        font-size: 120%;
    }
}

/* 大屏 */
@media (min-width: 2000px) {
    html{
        font-size: 1.5vw;
    }
}



